@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400;500;600;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Commissioner", sans-serif;
}

body {
  background: url(./images/image-hero-desktop.jpg) no-repeat;
  background-size: contain;
  background-color: #fafafa;
  position: relative;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  width: 100%;
  z-index: 2;
  position: fixed;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 12rem;
}

header button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

.navigation a {
  text-decoration: none;
  color: white;
}

main {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  text-align: center;
  margin: 20rem auto 6rem auto;
  padding: 0 2rem;
  gap: 2rem;
  max-width: 55rem;
}

.background {
  width: 100%;
  padding: 3rem;
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0 0rem 0.2rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0rem 0.2rem 0 rgba(0, 0, 0, 0.1);
}

.head {
  position: relative;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.head h1 {
  margin-top: 1rem;
}

.project-logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.backbook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.backbook button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

.bookmark {
  position: relative;
  padding-left: 4rem !important;
}

.bookmark img {
  position: absolute;
  top: 50%;
  left: 0;
  height: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bookmark-mobile {
  display: none;
}

.back-project {
  background-color: #3cb4ac;
  color: white;
}

.progress {
  display: -ms-grid;
  display: grid;
  gap: 3rem;
}

.stats {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  text-align: start;
}

.goal h1 {
  margin-bottom: 0.5rem;
}

.goal:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.goal-padding {
  padding-left: 3rem;
}

.progressbar {
  position: relative;
  height: 1rem;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 2rem;
}

.current-bar {
  position: absolute;
  width: 70%;
  height: inherit;
  border-radius: 2rem;
  background-color: #3cb4ac;
}

.about {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  text-align: start;
}

.description {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  line-height: 1.7rem;
  color: #7a7a7a;
}

.pledges {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

.pledge {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
  padding: 2rem;
  border: 1px solid #dbdbdb;
  border-radius: 1rem;
}

.pledge p {
  color: #7a7a7a;
}

.pledge:last-child {
  opacity: 0.5;
}

.pledge:last-child button {
  cursor: unset;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reward p {
  color: #3cb4ac;
  font-weight: 500;
}

.select-reward span {
  font-weight: 200;
  color: #7a7a7a;
  font-size: 0.9rem;
}

.select-reward button {
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  cursor: pointer;
  background-color: #3cb4ac;
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

/* Media Queries */
@media only screen and (max-width: 1220px) {
  header {
    padding: 2rem 6rem;
  }
  main {
    margin-top: 8rem;
  }
}

@media only screen and (max-width: 900px) {
  header {
    padding: 2rem 2rem;
  }
  main {
    margin-top: 6rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url(./images/image-hero-mobile.jpg);
  }
  main {
    margin-top: 6rem;
    padding: 0 1rem;
  }
  .stats {
    -ms-grid-columns: unset;
        grid-template-columns: unset;
    gap: 0;
  }
  .goal {
    padding: 0;
    text-align: center;
  }
  .goal:nth-child(1) {
    padding-bottom: 1rem;
  }
  .goal:nth-child(2) {
    border-right: none;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem 0;
  }
  .goal:nth-child(3) {
    padding-top: 1rem;
  }
  .flex {
    display: -ms-grid;
    display: grid;
    gap: 0.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 530px) {
  header {
    position: relative;
    padding: 1rem;
  }
  header button {
    display: block;
  }
  main {
    margin-bottom: 2rem;
  }
  .navigation {
    display: none;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    position: absolute;
    background-color: white;
    padding: 1rem 2rem;
    width: 100%;
    gap: 0;
    left: 0;
    border-radius: 0.5rem;
    bottom: -1rem;
    z-index: 1;
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  }
  .navigation a {
    width: 100%;
    color: black;
    padding: 1rem 0;
  }
  .navigation a:nth-child(2) {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  .background {
    padding: 1.5rem;
  }
  .backbook button {
    padding: 0.8rem 1.5rem;
  }
  .bookmark {
    display: none;
  }
  .bookmark-mobile {
    display: block;
    background: none;
    padding: 0 !important;
    height: 100%;
  }
  .progressbar {
    height: 0.5rem;
  }
  .select-reward button {
    padding: 0.8rem 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */